<?xml version="1.0" encoding="UTF-8"?>
<!--<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">-->
<suite name="Suite">
  <test name="Test on Edge">
	<parameter name ="browserType" value="chrome"/>
    <packages>
      <package name="testcases.nuevoregistro"/>
      <package name="testcases.olvidemicontrasena"/>
      <package name="testcases"/>
      <package name="testcases.miinformacion"/>
    </packages>
  </test> <!-- Test -->
  
 <!--  <test name="Test on Firefox">
	<parameter name ="browserType" value="firefox"/>
    <packages>
      <package name="testcases.nuevoregistro"/>
      <package name="testcases.olvidemicontrasena"/>
      <package name="testcases"/>
      <package name="testcases.miinformacion"/>
    </packages>
  </test> --> <!-- Test -->
</suite> <!-- Suite -->
